@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lato: Lato;

  /* font sizes */
  --font-size-sm: 13px;
  --font-size-base: 14px;
  --font-size-lg: 20px;
  --font-size-xl: 36px;

  /* Colors */
  --color-gray-100: #f4f5f8;
  --color-gray-200: #e5f1ff;
  --color-gray-300: #737682;
  --color-gray-400: rgba(225, 225, 225, 0.6);
  --color-indigo-100: #0075ff;
  --color-black: #000;
  --color-white: #fff;

  /* border radiuses */
  --br-xs: 7px;
  --br-sm: 9px;
  --br-md: 10px;
  --br-lg: 11px;
  --br-xl: 75px;
}
